<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer">
		<footer class="footer">
		    <div>
		        <!-- this is footer -->
		        <p class="form-center">&copy; 2018 nora.com
		            <span sec:authorize="isAuthenticated()">
		                | Logged user: <span sec:authentication="name"></span> 
		                | Roles: <span sec:authentication="principal.authorities"></span> 
		                | <a th:href="@{/logout}">Sign Out</a>
		            </span>
	            </p>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		        <script type="text/javascript" src="js/bootstrap.min.js" th:href="@{/js/bootstrap.js}"></script>
		    </div>
		</footer>
	</div>
</body>
</html>