<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header-css">
	<!-- this is header-css -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
	<link rel="stylesheet" th:href="@{/css/all.css}" href="../../css/all.css" />
	
</head>

<body>

<div th:fragment="header">
    <!-- this is header -->

	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	        <div class="container">
	            
	     	    <a class="navbar-brand" href="#">Spring Boot</a>
	            
	            
	            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				</button>
	            
	            <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <ul class="navbar-nav mr-auto" sec:authorize="isFullyAuthenticated()">
	            	<li class="nav-item active"><a class="nav-link"  th:href="@{/}"><i class="fas fa-home"></i>Home</a></li>
	            	<li class="nav-item" ><a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/registration}"><i class="fas fa-user-plus"></i>Registration</a></li>
	            	<li class="nav-item" ><a class="nav-link" sec:authorize="hasRole('ROLE_CON')" th:href="@{/uploadFile}"><i class="fas fa-upload"></i>Upload Documents</a></li>
	            </ul>
	            <ul class="navbar-nav mr-auto">
	            </ul>
	            <ul class="nav navbar-nav navbar-right">	
	            	<li class="nav-item dropdown ">
	            		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
	            		data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-globe-asia"></i>Language</a>
	            		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	            			<a class="dropdown-item" href="?lang=en_US" th:text="#{english}"></a>
	            			<a class="dropdown-item" href="?lang=zh_CN" th:text="#{simplifiedChinese}"></a>
	            			<a class="dropdown-item" href="?lang=zh_TW" th:text="#{traditionalChinese}"></a>
	            		</div>
	            	</li>
	            	
	            	<li class="nav-item" ><a class="nav-link"  th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
	            </ul>

	        </div> 
	        
	        </div>
	    </nav>

	    
	    
	    
	    
	    

</div>
</body>
</html>