<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Welcome Title</title>

<div th:replace="fragments/header :: header-css"/>
<div th:replace="fragments/header :: header"/>

</head>



<body>

<div class="container">
	<div class="starter-template">
		<br />
		<h1 >Spring Boot Web Thymeleaf Example</h1>
		<h2>
			<span th:text="'Hello '"></span><span sec:authentication="name"></span>
		</h2>
		<br />
	</div>


</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>