<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Welcome Title</title>
	<head th:include="fragments/header :: header-css"/>
</head>



<body>
<div th:include="fragments/header :: header"></div>
<div class="container">

	<h1 class="form-heading">Project Demo</h1>
	 
	<div th:if="${not #lists.isEmpty(userList)}">
	    <h2>User List</h2>
	    <table class="table table-striped">
	        <tr>
	            <th>Username</th>
	            <th>Password</th>
	            <th>Role</th>
	        </tr>
	        <tr th:each="user : ${userList}">
	            <td th:text="${user.username}"></td>
	            <td th:text="${user.password}"></td>
	             <td>
		             <div th:each="role : ${user.roles}">
		             	<p th:text="${role.name}"></p>
		             </div>
	             </td> 
	        </tr>
	        
	    </table>
	</div> 
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>